<div class="container">
  <div class="todo-list">
    <h3>{{title}}</h3>
    <div class="input-group">
      <input type="text" placeholder="Todo" #newTask>
      <button (click)="addTask(newTask.value)" class="add-button">+</button>
    </div>
    <table>
      <h5>Pending To-DO</h5>
      <tr *ngFor="let task of tasks" class="odd">
        <td>
          <pre>
           {{task}}
          </pre>
        </td>
        <td>
          <button (click)="deletTask(task)" class="remove-button">X</button>
          <button (click)="doneTask(task)" class="done-button">Done</button>
        </td>
      </tr>
    </table>

    <table>
      <h5>Completed To-DO</h5>
      <tr *ngFor="let task of completed" class="even">
        <td>
          <pre>
           {{task}}
          </pre>
        </td>
      </tr>
    </table>

  </div>
</div>